h1 {
    font-size: 6vmin;
}

h4 {
    font-size: 3vmin;
}

/* Merch Content*/

.mrchcont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 3vw;
    width: 100%;
}

.listing {
    width: auto;
    border-radius: 2rem;
    border: solid black;
    border-width: 5px;
    margin: 5px;
}
.listing:hover {
    background-color: rgba(207, 207, 207, .6);
    transform: scale(1.03);
}


.listing > img {
    width: 100%;
    height: auto;
}
.listing > p {
    height: 4vh;
    margin-left: 1vw;
    font-size: 3vmin;
    overflow: hidden;
    padding-bottom: 3vmin;
}
.listing > div {
    height: 2vh;
}
#vwet {
    margin-left: 1vw;
    font-size: 3vmin;
}