h1 {
    font-size: 6vmin;
}

h4 {
    font-size: 3vmin;
}

.dntitm {
    width: 5vw;
    background-color: black;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1vmin;
    padding-inline: 2vw;
    border-radius: 2rem;
    font-size: 2vmin;
}

/* Merch Content*/

.mrchcont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2vw;
    width: 100%;
}

.listing {
    width: auto;
    border-radius: 2rem;
    border: solid black;
    border-width: 5px;
    margin: 5px;
}
.listing:hover {
    background-color: rgba(207, 207, 207, .6);
    transform: scale(1.03);
}


.listing > img {
    width: 100%;
    height: auto;
}
.listing > p {
    height: 4vh;
    margin-left: 1vw;
    font-size: 3vmin;
    overflow: hidden;
    padding-bottom: 3vmin;
}
.listing > div {
    height: 2vh;
}
#vwet {
    margin-left: 1vw;
    font-size: 3vmin;
}
